$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  text-align: center;
}

h1 {
  font-size: 100px;
  text-align: center;
}
ul {
  list-style-type: none;
}

.border {
  margin: 10px;
  // max-width: 270px;
  padding: 5px;
}

.container {
//   background-color: $container-color;
  margin: 0 auto;
  max-width: 370px;
  text-align: center;

}